.productCard .textPart {
    transition: transform .3s ease-out;
}


.productCard:hover .textPart {
    transform: translateY(-1rem);
}

.productCard:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}